.prj-entry {
  padding: 0;
  height: auto;
  display: contents;
}

.prj-content {
  /* width: 50vw; */
  display: flex;
  /* flex-direction: column-reverse; */
  margin-left: auto;
  margin-right: auto;
}

.prj-content-container {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.prj-link-btn {
  justify-content: flex-end;
  align-items: flex-end;
}

.prj-title {
  margin-bottom: 0;
}

.prj-text {
  text-align: center;
  margin-top: 0;
  height: 60%;
}

.img-container {
  height: auto;
  display: flex;
  justify-content: center;
  height: 40%;
  padding: 10%;
}

.dollar-img, .bot-img, .fan-img, .ab-logo {
  /* margin: 3vw; */
  width: 100%;
  object-fit: contain;
}

.bot-img {
  filter: invert(59%) sepia(16%) saturate(1495%) hue-rotate(190deg) brightness(90%) contrast(88%);
}

.dollar-img {
  filter: invert(71%) sepia(23%) saturate(767%) hue-rotate(54deg) brightness(70%) contrast(85%);
}

.desc {
  /* margin: 1rem; */
  display: inline;
  list-style: none;

}

/* .prj-desc {
  margin-bottom: auto;
} */

.desc-container {
  /* padding: auto; */
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  /* justify-content: end; */
}

.prj-link {
  color: #000;
  /* margin-top: auto; */
  /* margin-bottom: 0; */
  text-decoration: underline;
  text-underline-offset: 5px;
}

.job-title {
  display: inline-block;
  color: #333;
}

.faded {
  opacity: 0;
  transition: opacity 250ms ease-in;
  transform: translateY(50px);
  transition-property: transform, opacity;
  transition-duration: 1s;
  transition-timing-function: linear;
}

.faded.in-view {
  transform: none;
  opacity: 1;
}

.project-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  column-gap: 3vw;
  row-gap: 3vh;
}

@media screen and (max-width: 800px) {
  .project-grid {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
  }

  /* .heading {
    margin-bottom: 10vh;
  } */
}

@media screen and (max-width: 550px) {
  .project-grid {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
  }
}

/* help obtained from https://stackoverflow.com/questions
/15161674/responsive-design-rearrange-element-positions-with-css */
@media screen and (max-width: 768px)
{
  .dollar-img, .bot-img {
    transform: scale(1);
  }
  
  .bot-img {
    /* margin-top: 5vh; */
  }

   .prj-content
   {
    margin-top: 10vh;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column-reverse;
    flex-direction: column-reverse; 
    /* height: 60vh; */
   }
  .dollar-img, .bot-img, .fan-img, .ab-logo {
    height: 20vw;
  }
}


@media screen and (max-width: 550px)
{
  .fan-img, .ab-logo{
    height: 40vw;
  }
}