.block {
  background-color: white;
  border-bottom: 1px solid #000;
  /* height: auto; */
  /* height: 100vh; */
}

.heading {
  margin-top: 0;
  text-align: center;
}

.project-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  column-gap: 3vw;
  row-gap: 3vh;
}

.highlighted:hover {
  color: gray;
  filter: invert(48%) sepia(6%) saturate(6%) hue-rotate(329deg) brightness(102%) contrast(89%);
  transform: scale(1.1);
}

.highlighted-text:hover {
  filter: invert(48%) sepia(6%) saturate(6%) hue-rotate(329deg) brightness(102%) contrast(89%);
  text-decoration: underline;
  /* text-underline-offset: 5px; */
}


@media screen and (max-width: 800px)
{
  .project-grid {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
  }
  /* .heading {
    margin-bottom: 10vh;
  } */
}

@media screen and (max-width: 550px)
{
  .project-grid {
    display: grid;
    grid-template-columns: auto;
  }
}