.exp-entry {
  padding: 0;
  margin: auto;
  height: 100%;
}

.description-list {
  margin: 1rem;
  /* display: inline; */
  /* list-style: none; */
}

.job-title {
  display: inline-block;
  color: #333;
}

.nav-item {
  display: inline-block;
  color: #333;
}

.nav-item:not(:first-child) {
  margin-left: 3vh;
}

.nav-item:hover {
  color: black;
  cursor: pointer;
}