.landing-content {
    width: 80vw;
    display: flex;
    /* flex-direction: row-reverse; */
    margin: auto;

    max-height: 100%;
    /* margin-left: 0;
    margin-right: 10vw; */
}

.landing-img-container {
    width: 40%;
    /* margin-left: 0; */
    /* padding: 0; */
    margin: auto;
    /* margin-right: 0; */
}

.landing-img {
    width: 35vw;
    height: 35vw;

    width: 130vh;
    height: 130vh;
    /* display: flex; */
    object-fit: cover;
    margin: auto;
    margin-left: 0;
    margin-top: -20vh;

    border-radius: 50%;
    /* margin-left: 5vw; */
}

.landing-text {
    width: 60%;
    display: flex;
    flex-direction: column;
    margin: auto;
    /* margin-top: 0%; */
    z-index: 2;
}

.main-heading {
    font-size: 10vh;
    /* display: flex; */
    margin-bottom: 0;
    /* margin: auto; */
    /* margin-left: 10%; */
    /* text-align: center; */
}

.sub-heading {
    margin-top: 0;
    font-size: 3vh;
    margin-bottom: 0;
}

.main-desc, .desc-link {
    margin-top: 0;
    display: inline;
    font-size: 2.4vh;
}

.desc-link {
    color: #000;
}

.desc-link:hover {
    filter: invert(48%) sepia(6%) saturate(6%) hue-rotate(329deg) brightness(102%) contrast(89%);}


@media screen and (max-width: 1500px) {
    .landing-img {
        margin-left: -30vw;
        margin-top: -10vh;
        width: 120vh;
        height: 120vh;
    }
}

@media screen and (max-width:1000px) {
    .landing-content {
        /* margin-top: -10vh; */
        margin-bottom: 0;
        max-height: 100vh;
    }   
}

@media screen and (max-width: 800px)
{
    .landing-img {
        margin-left: -60vw;
        margin-top: -10vh;
        width: 170vw;
        height: 170vw;
    }
}