.footer {
    display: flex;
    flex-direction: row;
    margin: auto;
}
/* 
.footer-text {
    margin-right: 5vw;
} */

.divider {
    margin-right: 5vw;
    margin-left: 5vw;
}

.socials-content {
    margin: auto;
    /* margin-left: 5vw; */
    display: flex;
    flex-direction: row;
}

.socials-icon {
    width: 35px;
    height: 35px;
    margin: 5px;
}